*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#logo{
    width: 49px;
    height: 49px;
}

.logotext{
    color: #373737;
    font-family: Roboto;
    font-size: 39px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.logotext span{
    color:  #2B7AC1;
}

.blogtxt{
    display: flex;
    width: 96px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    color: #373737;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 35px;
    position: sticky;
    top: 0;
    background-color: white;
    opacity: 1;
    z-index: 999;
}

.group1{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.group2{
    display: flex;
    align-items: center;
}

ul{
    display: flex;
    width: 245px;
    height: 49px;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;
    list-style: none;
}

.txt{
    width: 223px;
    height: 49px;
    border-radius: 23.5px;
    background: #184655;
    box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.25);color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


#hero{
    background-image: url("./images/Rectangle31.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    /* width: 1386px; */
    height: 742px;
    border-radius: 50px;
    margin: 2% 3%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#hero .f1{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#hero .f2 img{
    width: 500px;
    height:400px;
    background-repeat:no-repeat;
    background-size: cover;
}


#hero h2{
    color: #184655;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.searchbox{
    width: 546px;
    height: 78.93px;
    flex-shrink: 0;
    border-radius: 19px;
    background: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.searchbox .s1{
    display: flex;
    flex-direction: row;
}

.searchbox img{
    width: 30px;
    height: 30px; 
    margin: 0 2%;
}

.searchbox p{
    color: #727272;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 118%; /* 25.96px */
    width: 120px;
}

.searchbox .btn{
    display: flex;
    width: 93.577px;
    height: 22.784px;
    flex-direction: column;
    justify-content: center;
    width: 189.595px;
    height: 78.93px;
    border-radius: 0px 19px 19px 0px;
    background: #184655;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 118%; 

}

#hero ul{
    display: flex;
    width: 331px;
    justify-content: space-between;
    align-items: center;
    color: #53748C;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#post{
    background-image: url("./images/Rectangle28.png");
    background-repeat:no-repeat;
    background-size: cover;
    /* width: 1386px; */
    height: 742px;
    border-radius: 50px;
    margin: 2% 3%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#post .blog{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 586px;
    height: 58.93px;
    position: relative;
    bottom: 140px;

}

#post img{
    width: 500px;
    height:400px;
    background-repeat:no-repeat;
    background-size: cover;
}

#post h3{
    color: #184655;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#post .blog .details{
    display: flex;
    justify-content: space-between;
}

#post .blog div{
    color: #727272;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 118%; 25.96px */
    /* width: 500px; */
}

#cards{
    margin: 2% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cards div.sample{
    width: 431.532px;
    height: 469px;
    border-radius: 20px;
    background: linear-gradient(117deg, rgba(249, 247, 247, 0.10) 19.16%, rgba(249, 247, 247, 0.40) 80.19%);
    box-shadow: 0px 2px 20px -1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    color: #4A4848;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: felx;
    flex-direction: column;
    
}

#cards .sample img{
    width: 431.532px;
    height: 272.614px;
    border-radius: 20px;
    background-repeat: no-repeat;
    margin-bottom: 4%;
}

#cards .sample p{
    margin: 2%;
}

.fstyle{
    display: flex;
    width: 395.355px;
    height: 18.734px;
    justify-content: space-between;
    align-items: center;
    color: rgba(111, 110, 110, 0.84);
    font-size: 18px;
    margin: 2% 0;
}

.junk{
    color: #464343;
    text-align: justify;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 2%;
}

#footer{

    background-image: url("./images/Rectangle31.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    /* width: 1386px; */
    height: 742px;
    border-radius: 50px;
    margin: 2% 3%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#footer p{
    color: #000;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#footer h3{
    color: #000;
    font-family: Roboto;
    font-size: 57px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#footer h4{
    color: #000;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#footer img{
    width: 500px;
    height:400px;
    background-repeat:no-repeat;
    background-size: cover;
}

#footer button{
    width: 251px;
    height: 49px;
    border-radius: 23.5px;
    background: linear-gradient(92deg, #2C56AA 14.14%, #3BB08B 84.43%);
    box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 20%;
}